<!-- views/admin/delete-product.ejs -->

<%- include('../partials/adminheader') %>

<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <h2>Delete Product</h2>
        <p>Are you sure you want to delete the following product?</p>

        <div>
          <strong>Product Name:</strong> <%= product.name %><br>
          <strong>Category:</strong> <%= product.category.name %><br>
          <!-- Add other product details as needed -->
        </div>

        <form action="/admin/delete-product/<%= product._id %>" method="POST">
          <button type="submit" class="btn btn-danger">Confirm Delete</button>
        </form>

        <a href="/admin/products" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/adminfooter') %>
