<%- include('../partials/admin-header') %>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <div class="col-lg-12  col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 class="page-title mb-3">
                            <span class="page-title-icon bg-gradient-primary text-white me-2">
                                <i class="mdi mdi-package menu-icon"></i>
                            </span>Orders
                        </h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Order ID</th>
                                        <th>User</th>
                                        <th>Payment Method</th>
                                        <th>Status</th>
                                        <th>Shipping Address</th>
                                        <th>Order Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach((order, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><%= order.payment.orderId %></td>
                                            <td><%= order.user.username %></td>
                                            <td><%= order.payment.paymentMethod %></td>
                                            <td>
                                                <% if(order.payment.status === 'placed') { %>
                                                    <span class="badge badge-warning">Placed</span>
                                                <% } else if(order.payment.status === 'shipping') { %>
                                                    <span class="badge badge-orange">Shipping</span>
                                                <% } else if(order.payment.status === 'delivered') { %>
                                                    <span class="badge badge-success">Delivered</span>
                                                <% } %>
                                            </td>
                                            <td><%= order.shippingAddress.addressLine1 %> <%= order.shippingAddress.city %>, <%= order.shippingAddress.state %>,  <%= order.shippingAddress.postalCode %></td>
                                            <td><%= order.payment.orderDate.toDateString() %></td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input type="radio" class="form-check-input status-radio placed" data-order-id="<%= order._id %>" name="status<%= order._id %>" value="placed" <% if(order.payment.status === 'placed') { %>checked<% } %>>
                                                    <label class="form-check-label">Placed</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input type="radio" class="form-check-input status-radio shipped" data-order-id="<%= order._id %>" name="status<%= order._id %>" value="shipping" <% if(order.payment.status === 'shipping') { %>checked<% } %>>
                                                    <label class="form-check-label">Shipped</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input type="radio" class="form-check-input status-radio delivered" data-order-id="<%= order._id %>" name="status<%= order._id %>" value="delivered" <% if(order.payment.status === 'delivered') { %>checked<% } %>>
                                                    <label class="form-check-label">Delivered</label>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const statusRadios = document.querySelectorAll('.status-radio');

        statusRadios.forEach(radio => {
            radio.addEventListener('change', function () {
                // Reload the page after changing any status radio button
                location.reload();
            });
        });
    });
</script>

<style>
    .form-check {
        margin: 2px !important;
    }
</style>

<%- include('../partials/admin-footer') %>
