<!-- views/user/orderHistory.ejs -->
<%- include('../partials/header') %>

<div class="container mt-5">
  <section class="bg0 p-t-23">
    <div class="col-sm-10 col-lg-8 col-xl-8 m-b-50 mt-5">
      <div class="container">
        <div class="p-b-10 text-center">
          <h3 class="ltext-102 cl5">
            Order History
          </h3>
        </div>

        <% if (orderHistory && orderHistory.length > 0) { %>
          <div class="table-responsive " style="background-color: rgb(220, 234, 234);">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Order Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Products</th>
                </tr>
              </thead>
              <tbody>
                <% orderHistory.forEach((order) => { %>
                  <tr>
                    <td><%= order.payment.orderDate.toLocaleDateString() %></td>
                    <td><%= order.payment.status %></td>
                    <td>
                      <div class="d-flex flex-wrap">
                        <% order.items.forEach((item) => { %>
                          <div class="how-itemcart1 m-r-15">
                            <img src="<%= item.product.images && item.product.images.length > 0 ? item.product.images[0] : '/path/to/placeholder-image.jpg' %>" alt="Product Image" class="product-image">
                            <p class="product-name"><%= item.product.name %></p>
                            <p class="product-quantity">Qty: <%= item.quantity %></p>
                          </div>
                        <% }) %>
                      </div>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        <% } else { %>
          <p>No order history found.</p>
        <% } %>
      </div>
    </div>
  </section>
</div>

<%- include('../partials/footer') %>
