<!-- views/user/search-results.ejs -->
<%- include('../partials/header') %>


<div class="container mt-5">
    <section class="bg0 p-t-23 p-b-140">
         <div class="container">
            <div class="p-b-10 text-center">
                <h3 class="ltext-103 cl5">
                    Search Results
                </h3>
            </div>
    
           
            <div class="flex-w flex-sb-m p-b-52 justify-content-end">
            
                   
                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Search
                    </div>
                    <div class="dis-none panel-search w-full p-t-10 p-b-15">
                        <div class="bor8 dis-flex p-l-15">
                            <form id="searchForm" method="POST" action="/user/search">
                            
    
                            <input id="searchSuggestions" class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="searchProduct" placeholder="Search">
                            
                            <div id="searchSuggestionsContainer"></div>
    
                            </form>
                            </div>
                </div>
                </div>
    

    <div class="row isotope-grid mt-5">
        <% searchResults.forEach(product => { %>
            <div class="col-sm-6 col-md-6 col-lg-2 p-b-35 isotope-item category-<%= product.category %>">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="<%= product.images && product.images.length > 0 ? product.images[0] : '/path/to/placeholder-image.jpg' %>" alt="IMG-PRODUCT">
                        <a href="/user/productdetails/<%= product._id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l">
                            <a href="/user/productdetails/<%= product._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                <%= product.name %>
                            </a>
                            <div class="price-container">
                                <% if (product.coupon) { %>
                                    <span class="stext-105 cl3 original-price">
                                        ₹<%= product.price %>
                                    </span>
                                    <br>
                                    <span class="stext-105 cl3 discount-info">
                                        ₹<%= product.price - (product.price * product.coupon.discountPercentage / 100).toFixed(0) %>
                                        (<span class="discount-percentage"> <%= product.coupon.discountPercentage %>% Off</span>)
                                    </span>
                                <% } else { %>
                                    <span class="stext-105 cl3">
                                        ₹<%= product.price %>
                                    </span>
                                <% } %>
                            </div>
                            
                        </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

</div>

</section>
</div>

<script>
    $(document).ready(function() {
     // Function to fetch search suggestions
     function fetchSuggestions(query) {
         $.ajax({
             method: 'POST',
             url: '/user/search/suggestions',
             data: { query: query },
             success: function(response) {
                 // Clear previous suggestions
                 $('#searchSuggestionsContainer').empty();
 
                 // Append new suggestions to the container
                 response.forEach(suggestion => {
                     // Create suggestion element and append to container
                     const $suggestion = $('<div class="suggestion">' + suggestion + '</div>');
                     $('#searchSuggestionsContainer').append($suggestion);
 
                     // Handle click on suggestion
                     $suggestion.click(function() {
                         // Fill input field with suggestion text
                         $('#searchSuggestions').val(suggestion);
 
                         // Clear suggestions container
                         $('#searchSuggestionsContainer').empty();
                     });
                 });
             },
             error: function(error) {
                 console.error('Error fetching suggestions:', error);
             }
         });
     }
 
     // Handle input event on the search input field for fetching suggestions
     $('#searchSuggestions').on('input', function() {
         const query = $(this).val();
         fetchSuggestions(query);
     });
 
     // Handle form submission for search
     $('#searchForm').submit(function(event) {
         event.preventDefault(); // Prevent default form submission
         const query = $('#searchSuggestions').val().trim();
         if (query.length > 0) {
             $(this).unbind('submit').submit();
         } else {
             console.log('Search query is empty.');
         }
     });
 
     $('#searchSuggestions').on('keypress', function(event) {
         // Check if the pressed key is Enter (key code 13)
         if (event.which === 13) {
             // If Enter was pressed, trigger the form submission
             $('#searchForm').submit();
         }
     });
 });
 
 </script>
 <style>
    .price-container {
    display: inline-block; /* Make the container inline */
}

.original-price {
    text-decoration: line-through; /* Apply strike-through */
    margin-right: 10px; /* Add some space between original and discounted price */
}
.discount-percentage {
    color: red;
}

 </style>

<%- include('../partials/footer') %>